<nav class="admin-navbar">

  <div class="admin-logo">
    <a href="/admin/dashboard">
      <img src="/images/logo.png" class="admin-nav-logo" alt="N'Cafe">
    </a>
  </div>

  <hr>

  <div class="admin-bottom">

    <div class="admin-left">
      <a href="/admin/dashboard">Home</a>
    </div>

    <div class="admin-nav-links">
      <a href="/admin/menu">Menu</a>
      <a href="/admin/history">Order History</a>
      <a href="/admin/logout">Log Out</a>
    </div>

  </div>

</nav>
